.header {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	.container {
		//z-index: 9999;
		width: 100%;
		//position: fixed;
		background-color: #509fa3;
		background-size: 100%;
		background-repeat: no-repeat;

		.logo {
			width: 300px;
			img {
				width: 100%;
			}
		}

		.navigation {
			width: 300px;

			.navigation_wrapper {
				padding-top: 60px;
				padding-bottom: 20px;
			}
		}

	}
}

.Toggle {
	width: 95%;
	margin: 0 auto;

	.Toggle_menu {
		height: 36px;
		position: relative;

		.Toggle_menu_title {
			color: #fff;
			position: relative;top: 10px;
		}

		.Toggle_menu_control {
			position: absolute; top: 8px; right: 5px;

			.bar1 ,.bar2 ,.bar3 {
				background-color: #fff;
				display: block;
				height: 2px;
				width: 25px;
				margin: 4px 0;
				transition: 0.4s;
			}
		}
	}
	.Toggle_list {
		display: none;
	}
}

.List {
	//TODO :-
	// MAKE LIST TRANSITION TO OPENING AND CLOSING STATE SOMOOTH
	.List_item {


		margin: 0 auto;

		a {
			display: block;
			border-bottom: 1px solid #fff;
			color: #fff;
			text-align: center;
			padding: 10px 0;
			width: 100%;
		}

		&:first-child {
			border-top: 1px solid #fff;
		}
	}
}

.bar1 {
	.change & {
	    -webkit-transform: rotate(-45deg) translate(-3px, 6px);
		transform: rotate(-45deg) translate(-3px, 6px);
	}
}

.bar2 {
	.change & {
		opacity: 0;
	}

}

.bar3 {
	.change & {
		-webkit-transform: rotate(45deg) translate(-3px, -6px);
	    transform: rotate(45deg) translate(-3px, -6px);
	}
}